/* ==========================================================================
   Theme colors
   ========================================================================== */

$yellow-light:           #ffeb99; 
$yellow-dark:            #caad00;
$medium-black:           #171717;
$dark-black:             #000000;
$gray-darker:            #666666;
$gray-medium:            #848482;
$gray-light:             #bbbbbb;
