  /* ==========================================================================
   13. Media Queries - Smaller than 900px
   ========================================================================== */

@media only screen and (max-width: 900px) {
  blockquote {
    margin-left: 0;
  }
  .site-head {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    min-height: 240px;
    padding: 15% 0;
  }
  .blog-title {
    font-size: 4rem;
    letter-spacing: -1px;
  }
  .blog-description {
    font-size: 1.6rem;
    line-height: 1.4em;
  }
  .blog-logo img {
    max-height: 90px;
    max-width: 320px;
  }
  .post {
    font-size: 0.9em;
    line-height: 1.6em;
  }
  .post-template {
    .post {
      padding-bottom: 1rem;
    }
    .post-header {
      padding: 40px 0;
    }
  }
  h1 {
    font-size: 4.8rem;
    text-indent: -2px;
  }
  h2 {
    font-size: 3.8rem;
  }
  h3 {
    font-size: 3.3rem;
  }
  h4 {
    font-size: 2.8rem;
  }
  .site-footer {
    margin-top: 5rem;
    font-size: 0.9rem;
  }  
  .btn-social {
    width: 38px;
    height: 38px;  
    border: 1px solid $gray-light;
    font-size: 18px;
    line-height: 38px;
  }  
}

/* ==========================================================================
   Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {

  .site-nav-logo {
    position: relative;
  }

  .blog-logo img {
    max-height: 80px;
    max-width: 210px;
  }
  .inner, .pagination {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }
  .post {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 0.8em;
    line-height: 1.6em;
  }
  .site-head {
    padding: 10% 0;
    height: 100%;
  }
  .blog-title {
    font-size: 3rem;
  }
  .blog-description {
    font-size: 1.5rem;
  }
  h1, h2 {
    font-size: 3rem;
    line-height: 1.1em;
    letter-spacing: -1px;
  }
  h3 {
    font-size: 2.8rem;
  }
  h4 {
    font-size: 2.3rem;
  }
  .post-template {
    .post {
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .post-header {
      padding: 30px 0;
    }
    .site-footer {
      margin-top: 0;
    }
  }
  .post-content {
    img {
      padding: 0;
    }
    .full-img {
      width: auto;
      width: calc(100% + 32px);
      /* expand with to image + margins */
      margin: 0 -16px;
      /* get rid of margins */
      min-width: 0;
      max-width: 112%;
      /* fallback when calc doesn't work */
    }
  }
  .post-meta {
    font-size: 1.3rem;
  }
  .post-footer {
    padding: 4rem 0;
    text-align: center;
    .author {
      margin: 0 0 2rem 0;
      padding: 0 0 1.6rem 0;
      border-bottom: #EBF2F6 1px dashed;
    }
    .share {
      position: static;
      width: auto;
      a {
        margin: 1.4rem 0.8rem 0 0.8rem;
      }
    }
  }
  .author-meta li {
    float: none;
    margin: 0;
    line-height: 1.6em;
    &:before {
      display: none;
    }
  }
  .older-posts, .newer-posts {
    position: static;
    margin: 10px 0;
  }
  .page-number {
    display: block;
  }
  .site-footer {
    margin-top: 6rem;
    font-size: 0.7rem;
  }
  .btn-social {
    width: 32px;
    height: 32px;  
    border: 1px solid $gray-light;
    font-size: 15px;
    line-height: 30px;
  }
}

/* ==========================================================================
   End of file. Media queries should be the last thing here. Do not add stuff
   below this point, or it will probably fuck everything up.
   ========================================================================== */