/* ==========================================================================
   7. Tag archive
   ========================================================================== */

.archive-template, .tag-template {
  .site-head {
    height: auto;
    padding-bottom: 5rem;
    a {
      color: #fff;
    }
  }
  .blog-logo {
    display: block;
    margin-top: 5rem;
  }
}

.tag-archive-header {
  padding: 20px 0;
  text-align: center;
  max-width: 700px;
  margin: 4rem auto;
  position: relative;
  text-transform: capitalize;
  &:after {
    display: block;
    content: "";
    width: 700px;
    height: 70px;
    position: absolute;
    bottom: -15px;
    background: url(../images/tag-divider.svg) no-repeat;
    background-size: 700px 20px;
    background-position: center center;
  }
}

.archive-template .blog-title {
  display: inline-block;
  padding: 2.5rem 0;
}