/* ==========================================================================
   Main colors
   ========================================================================== */

$yellow-light:           #ffeb99; 
$yellow-dark:            #caad00;
$medium-black:           #171717;
$dark-black:             #0e0e0f;
$gray-darker:            #666666;
$gray-medium:            #848482;
$gray-light:             #bbbbbb;
